a, a:hover {
	color: #1791bc;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 760px;
	background-color: #b1a684;
	background-image: url('../img/bggradient.png');
	background-repeat: repeat-x;
	color: #595a5b;
}
.bgcontainer {
	height: 760px;
	width: 100%;
	background-image:url('../img/bglogo.png');
	background-repeat: no-repeat;
	background-position: center 128px; 
}
.ie6 .bgcontainer {
	background: none;
}
.container {
	height: 760px;
	background-color: #fcfcfa;
}
#left_col {
	background-color: #fcfcfa;
	height: 760px;
	float: left;
	width: 210px;
	padding-left: 30px;
	overflow: hidden;
	display: inline;
}
h1#logo {
	height: 190px;
	width: 185px;
	margin: 20px 0 0 25px;
	padding: 0;
}
#navigation {
	list-style-type:none;
	padding-left: 0;
	padding-right: 30px;
	margin-bottom: 11px;
}
#navigation li {
	border-bottom: 1px solid #d7d7d5;
	margin-top: -1px;
	height: 28px;
	padding-top: 7px;
}
a {
	text-decoration:none;
}
#languages a#homeicon {
	height: 18px;
	width: 21px;
	padding-right: 12px;
	margin-right: 14px;
	border-right: 1px solid #bababa;
	background-color: #fcfcfa;
}
#languages a {
	display: block;
	float: left;
	height: 18px;
	width: 29px;
	margin-right: 10px;
	background-color: #68a0b9;
	color: white;
	text-align: center;
	display: inline;
}
#languages a.active {
	height: 16px;
	width: 27px;
	color: black;
	background-color: #e4e4e4;
	border: 1px solid #ababaa;
}
#formulaire {
	margin-top: 32px;
	width: 183px;
	height: 158px;
	margin-left: -10px;
}
#formulaire.bordered {
	padding: 8px;
	background-image: url('../img/stripedborder.png');
}

form#reservation {
	width: 171px;
	height: 156px;
	padding-left: 10px;
	border: 1px solid #dadad9;
	background-color: white;
}
form#reservation .intitule {
	height: 33px;
	padding-top: 10px;
}
form#reservation .date {
	height: 22px;
	margin-bottom: 12px;
}
form#reservation .first {
	margin-bottom: 0;
}
form#reservation .date label {
	width: 50px;
	display: block;
	float: left;
	overflow: hidden;
}
form#reservation .date input {
	width: 85px;
	height: 20px;
	padding: 1px 0;
	text-align: center;
	background-image: url('../img/inputtextbackground.png');
	border: 0;
	margin: 0;
	display: inline;
	float: left;
}
.ie form#reservation .date input {
	padding-top: 5px !important;
	height: 16px;
}
form#reservation .date a {
	padding: 1px 0 0 6px;
	display: inline;
	float: left;
}
form#reservation .submit {
	margin-top: 15px;
}
form#reservation .submit input {
	padding: 0;
	margin-left: 25px;
	width: 111px;
	height: 24px;
	text-align: center;
	background-color: #5ea4c4;
	color: white;
	border: 0;
	background-image: url('../img/buttonbackground.png');
}

#services_strip_title {
	margin-top: 96px;
	margin-left: -30px;
	height: 52px;
	width: 240px;
	padding-top: 10px;
	background-image: url('../img/services_strip_title.png')
}
#services_strip_title span {
	color: white;
	padding-left: 25px;
}

#content {
	height: 760px;
	width: 710px;
	background-color: #fcfcfa;
	float: left;
}
#content #carrouselhome img {
	width: 710px;
	height: 460px;
}
#content #carrouselhome {
	width: 710px;
	height: 460px;
	overflow: hidden;
	background-color: #5e4d43;
}
#content #carrouseltext {
	width: 600px;
	height: 124px;
	position: absolute;
	background-image: url('../img/home/cadretexte.png');
	background-repeat: no-repeat;
	top: 336px;
	color: white;
	z-index: 4;
}
#content #carrouseltext #carrouseltexttitle {
	padding-left: 50px;
	margin-top: -4px;
	padding-top: 15px;
	background-image: url('../img/home/guillemet.png');
	background-repeat: no-repeat;
	background-position: 17px top;
	height: 40px;
	width: 550px;
}
.ie6 #content #carrouseltext #carrouseltexttitle {
	margin-top: 6px;
	padding-top: 10px;
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/guillemetIE.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltexttitle h2 {
	color: white;
	margin:0;
	padding:0;
	width: 470px;
	text-shadow: 1px 1px 3px #777;
}
.ie6 #content #carrouseltext #carrouseltexttitle h2 {
	width: 460px;
}
#content #carrouseltext #carrouseltexttitle a#prevhome,
#content #carrouseltext #carrouseltexttitle a#nexthome {
	float: right;
	margin-right: 13px;
	width: 26px;
	height: 25px;
	cursor: pointer;
	display: inline;
}
#content #carrouseltext #carrouseltexttitle a#prevhome {
	background-image: url('../img/home/leftarrow.png');
}
.ie6 #content #carrouseltext #carrouseltexttitle a#prevhome {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/leftarrow.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltexttitle a#nexthome {
	background-image: url('../img/home/rightarrow.png');
}
.ie6 #content #carrouseltext #carrouseltexttitle a#nexthome {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/rightarrow.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltextcontent {
	padding: 0 90px 0 40px;
	height: 68px;
	width: 470px;
	background-image: url('../img/home/guillemetfermante.png');
	background-repeat: no-repeat;
	background-position: 525px 29px;
}
.ie6 #content #carrouseltext #carrouseltextcontent {
	background: none;
}
#content #blocsliens {
	height: 194px;
	margin-bottom: 70px;
}
#content #blocsliens .blocleft {
	height: 194px;
	padding-left: 40px;
	width: 290px;
	float: left;
	display: inline;
}
#content #blocsliens .blocright {
	float: left;
	width: 300px;
	height: 194px;
	padding: 0 40px 0 40px;
	display: inline;
}
#content #blocsliens h3 {
	padding: 34px 0 0 50px;
	margin: 0;
	height: 40px;
	background-repeat: no-repeat;
}
#content #blocsliens p {
	padding: 0;
	margin: 0;
}
#content #blocsliens ul {
	list-style-type: none;
	margin:5px 0 0;
	padding:0;
}
#content #blocsliens ul li {
	margin:0;
	padding: 0 0 0 25px;
	background-image: url('../img/home/list-arrow.png');
	background-repeat: no-repeat;
	background-position: left 4px;
}
#content #blocsliens .blocleft h3 {
	background-position: left 21px;
	background-image: url('../img/home/camera.png');
}
#content #blocsliens .blocright h3 {
	background-position: left 19px;
	background-image: url('../img/home/souris.png');
}
#content #footer {
	text-align: center;
}
#content #footer a {
	cursor: pointer;
}
#ruban {
	height: 64px;
	width: 730px;
	position: absolute;
	background-image: url('../img/ruban.png');
	margin: 657px 0 0 240px;
}
.ie6 #ruban {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/ruban.png',sizingMethod='crop');
}
.ie #ruban {
	margin-left: -710px;
}
.ie6 #ruban {
	margin: 0;
	position: relative;
	margin-top: -103px;
	margin-left: 240px;
}
#ruban a#prevruban {
	display: inline;
	width: 25px;
	height: 25px;
	background-image: url('../img/ribbonleft.png');
	cursor: pointer;
	float: left;
	margin: 12px 0 0 30px;
}
#ruban a#nextruban {
	display: inline;
	width: 25px;
	height: 25px;
	background-image: url('../img/ribbonright.png');
	cursor: pointer;
	float: left;
	margin-top: 12px;
	margin-left: 30px;
}
#ruban #scrollableruban {
	float: left;
	margin-top: 11px;
	width: 570px;
	height: 28px;
	display: inline;
}
.ie #ruban #scrollableruban {
	background-image: url('../img/ribbon/background_gradient.png');
	background-repeat: repeat-x;
}
#ruban #scrollableruban .scrollableruban {
	width: 570px;
	height: 28px;
}
.ie #ruban #scrollableruban .scrollableruban {
	background-image: url('../img/ribbon/background_gradient.png');
	background-repeat: repeat-x;
}
#ruban #scrollableruban img {
	margin-left: 22px;
	cursor: pointer;
}
#ruban #scrollableruban img.plus3 {
	margin-left: 19px;
}
.tooltip {
	width: 155px;
	z-index: 5;
	position: absolute;
	display: none;
}
.tooltip div {
	width: 133px;
	background-image: url('../img/ribbon/tooltip_gradient.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	border: 1px solid #935f42;
	border-radius: 8px;
}
.tooltip span {
	display: block;
	width: 155px;
	height: 15px;
	background-image: url('../img/ribbon/tooltip_arrow.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: -5px;
}

.tooltip_1 {
	margin-left: 255px;
}
.tooltip_2 {
	margin-left: 312px;
}
.tooltip_3 {
	margin-left: 369px;
}
.tooltip_4 {
	margin-left: 426px;
}
.tooltip_5 {
	margin-left: 483px;
}
.tooltip_6 {
	margin-left: 540px;
}
.tooltip_7 {
	margin-left: 597px;
}
.tooltip_8 {
	margin-left: 656px;
}
.tooltip_9 {
	margin-left: 711px;
}
.tooltip_10 {
	margin-left: 766px;
}

.ie .tooltip_1 {
	margin-left: -694px;
}
.ie .tooltip_2 {
	margin-left: -637px;
}
.ie .tooltip_3 {
	margin-left: -580px;
}
.ie .tooltip_4 {
	margin-left: -523px;
}
.ie .tooltip_5 {
	margin-left: -466px;
}
.ie .tooltip_6 {
	margin-left: -409px;
}
.ie .tooltip_7 {
	margin-left: -352px;
}
.ie .tooltip_8 {
	margin-left: -293px;
}
.ie .tooltip_9 {
	margin-left: -238px;
}
.ie .tooltip_10 {
	margin-left: -183px;
}

#content .tophalf {
	width: 710px;
	height: 380px;
	background-color: #5e4d43;
}
#content .sallestophalf {
	background-color: #6f765e;
}
#content .bottomhalf {
	width: 710px;
	height: 304px;
	margin-bottom: 40px;
	background-color: #f5f4f3;
}

#content .tophalf .righttext {
	width: 330px;
	height: 380px;
	float: right;
	color: #c9c5aa;
}
#content .sallestophalf .righttext {
	color: #e6e2c3;
}
.ie6 #content .tophalf .righttext {
	width:327px;
}
#content .tophalf .righttext h2 {
	color: white;
	text-align: center;
	margin-top: 30px;
	height: 70px;
	background-image: url('../img/chambres/titreseparateur.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}
#content .sallestophalf .righttext h2 {
	background-image: url('../img/salles/titreseparateur.png');
}
#content .tophalf .righttext p {
	margin: 0 30px 20px 30px;
}
#content .tophalf .righttext p.last {
	margin-bottom: 0;
}
#content .bottomhalf .tarifs {
	width: 710px;
	height: 120px;
}
#content .bottomhalf .tarifs h3 {
	margin-top: 27px;
	height: 75px;
	margin-left: 20px;
	margin-right: 85px;
	width: 80px;
	text-align: center;
	background-image: url('../img/chambres/tarifseparateur.png');
	background-position: center 32px;
	background-repeat: no-repeat;
	text-transform: uppercase;
	float: left;
	display: inline;
	margin-bottom: 0;
}
#content .bottomhalf .tarifs ul {
	width: 375px;
	height: 100px;
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
#content .bottomhalf .tarifs ul li {
	height: 25px;
	background-image: url('../img/chambres/pointilles.png');
	background-repeat: repeat-x;
	background-position: left 10px;
}
#content .bottomhalf .tarifs ul li.first {
	margin-top: 25px;
}
#content .bottomhalf .tarifs ul li .tarif {
	float: right;
	padding-right: 30px;
	padding-left: 15px;
	background-color: #f5f4f3;
	text-align: right;
	display: inline;
}
#content .bottomhalf .tarifs ul li .intitule {
	background-color: #f5f4f3;
}
#content .bottomhalf .tarifs ul li.devis {
	margin-left: 15px;
	margin-top: 2px;
	padding: 0 0 0 20px;
	background-image: url('../img/home/list-arrow.png');
	background-repeat: no-repeat;
	background-position: left 4px;
	font-style: italic;
}
#content .bottomhalf .tarifs img {
	margin: 32px 0 0;
	float: left;
	display: inline;
}
#content .carrouselchambres {
	height: 150px;
	width: 710px;
}
#content .carrouselchambres #prevchambres,
#content .carrouselchambres #nextchambres {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	z-index: 4;
}
#content .carrouselchambres #prevchambres {
	margin: 57px 0 0 18px;
	background-image: url('../img/chambres/carrouselleft.png');
}
#content .carrouselchambres #nextchambres {
	margin: 57px 0 0 660px;
	background-image: url('../img/chambres/carrouselright.png');
}
#content .carrouselchambres #scrollablechambres {
	width: 710px;
	height:150px;
}
#content .carrouselchambres #scrollablechambres .scrollablechambres {
	width: 710px;
	height:150px;
}
#content .carrouselchambres #scrollablechambres .scrollablechambres .imageframe {
	float: left;
	width: 198px;
	height: 130px;
	background-image: url('../img/chambres/imageframe.png');
	padding: 7px 0 0 10px;
	margin-left: 20px;
	display: inline;
}

#content .tophalf #map {
	height: 380px;
	width: 380px;
	float: left;
}
#content .pratique {
	background-color: #f6f5f4;
}
#content .pratique .righttext h2 {
	background-image: url('../img/pratique/titreseparateur.png');
	color: #4b4a4a;
}
#content .pratique .righttext ul {
	margin: 0 0 0 15px;
	padding: 0;
	list-style-type:none;
	width: 300px;
}
#content .pratique .righttext ul li {
	margin: 0;
	padding: 9px 0 0 35px;
	height: 27px;
	background-color: #ecebea;
	background-position: 12px center;
	background-image: url('../img/pratique/darklistarrow.png');
	background-repeat: no-repeat;
}
#content .pratique .righttext ul li.even {
	background-color: #f5f5f4;
	background-image: url('../img/pratique/lightlistarrow.png');
}
#content .pratique .righttext ul li a {
	color: #3a93bb;
}
#content .pratique .righttext ul li a:hover {
	color: #3a93bb;
}
#content .bottomhalf img#contactimage {
	width: 330px;
	float: right;
}
#content .bottomhalf #fichecontact {
	padding: 22px 27px 0;
	width: 326px;
	height: 282px;
	background-color: #616362;
	color: white;
}
#content .bottomhalf #fichecontact h3 {
	color: white;
	float: left;
	height: 30px;
	margin: 0 0 20px 0;
	padding: 0 0 7px 0;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url('../img/pratique/contactseparateur.png');
	display: inline;
}
#content .bottomhalf p#accroche {
	clear: left;
	margin: 0 0 20px 0;
	line-height: 1.8;
	color: #fff7c0;
}
#content .bottomhalf ul#coordonnees {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content .bottomhalf ul#coordonnees li {
	padding: 0;
	margin: 0 0 5px 0;
	line-height: 1.2em;
}
#footer #mentionslegales {
	display: none;
}
#simplemodal-container {
	border: 5px solid #6d6456;
	background-color: #fcfcfa;
	padding: 20px;
	width: 660px;
	
}
#simplemodal-container a.modalCloseImg {
	background:url(../img/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
.ie6 #simplemodal-container a.modalCloseImg {
	background:none;
	right:-14px;
	width:22px;
	height:26px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/x.png', sizingMethod='scale'
	);
}
#ombrecentrale {
	height: 760px;
	width: 14px;
	background-image: url('../img/ombrecentral.png');
	z-index: 1;
	float: left;
	margin-left: -710px;
}
.ie6 #ombrecentrale {
	display: none;
}
.ui-datepicker {
	z-index: 10 !important;
}