a, a:hover {
	color: #1791bc;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
body {
	background-color: #b1a684;
	background-image: url('../img/bggradient.png');
	background-repeat: repeat-x;
	color: #595a5b;
}
.container {
	height: 760px;
}

div#left_bg {
	position:absolute;
	background-image:url('../img/bgleft.png');
	margin-top:128px;
	margin-left:-186px;
	width:186px;
	height:404px;
}
.ie div#left_bg {
	margin-left:-1136px
}
div#right_bg {
	position:absolute;
	background-image:url('../img/bgright.png');
	width:183px;
	height:404px;
	margin-left:950px;
	margin-top:133px;
}
.ie div#right_bg {
	margin-left:0;
}

#left_col {
	background-color: #fcfcfa;
	height: 760px;
	float: left;
	width: 210px;
	padding-left: 30px;
	overflow: hidden;
	display: inline;
}
h1#logo {
	height: 190px;
	width: 185px;
	margin: 20px 0 0 25px;
	padding: 0;
}
#navigation {
	list-style-type:none;
	padding-left: 0;
	padding-right: 30px;
	margin-bottom: 11px;
}
#navigation li {
	border-bottom: 1px solid #d7d7d5;
	margin-top: -1px;
	height: 28px;
	padding-top: 7px;
}
a {
	text-decoration:none;
}
#languages a#homeicon {
	height: 18px;
	width: 21px;
	padding-right: 12px;
	margin-right: 14px;
	border-right: 1px solid #bababa;
	background-color: #fcfcfa;
}
#languages a {
	display: block;
	float: left;
	height: 18px;
	width: 29px;
	margin-right: 10px;
	background-color: #68a0b9;
	color: white;
	text-align: center;
	display: inline;
}
#languages a.active {
	height: 16px;
	width: 27px;
	color: black;
	background-color: #e4e4e4;
	border: 1px solid #ababaa;
}
#formulaire {
	margin-top: 32px;
	width: 183px;
	height: 218px;
	margin-left: -10px;
}
#formulaire.bordered {
	padding: 8px;
	background-image: url('../img/stripedborder.png');
}

form#reservation {
	width: 171px;
	height: 216px;
	padding-left: 10px;
	border: 1px solid #dadad9;
	background-color: white;
}
form#reservation .intitule {
	height: 33px;
	padding-top: 10px;
}
form#reservation .date {
	height: 22px;
	margin-bottom: 12px;
}
form#reservation .first {
	margin-bottom: 0;
}
form#reservation .date label {
	width: 50px;
	display: block;
	float: left;
	overflow: hidden;
}
form#reservation .date input {
	width: 85px;
	height: 20px;
	padding: 1px 0;
	text-align: center;
	background-image: url('../img/inputtextbackground.png');
	border: 0;
	margin: 0;
	display: inline;
	float: left;
}
form#reservation .date a {
	padding: 1px 0 0 6px;
	display: inline;
	float: left;
}
form#reservation .selectlabels {
	height: 22px;
	margin-top: 17px;
}
form#reservation .selectlabels div {
	float: left;
	overflow: hidden;
}
form#reservation .selectlabels div#nightslabel {
	width: 55px;
}
form#reservation .selectlabels div#adultslabel {
	width: 55px;
}
form#reservation .selectlabels div#childrenlabel {
	width: 60px;
}
form#reservation .selects {
	height: 22px;
}
form#reservation .selects select {
	float: left;
	width: 42px;
	height: 22px;
	background-image: url('../img/selectbackground.png');
	margin: 0 15px 0 0;
	border: 1px solid #c6c6c6;
	padding: 0;
	display: inline;
}
form#reservation .selects .last {
	margin: 0;
	text-align: center;
}
form#reservation .submit {
	margin-top: 15px;
}
form#reservation .submit input {
	padding: 0;
	margin-left: 25px;
	width: 111px;
	height: 24px;
	text-align: center;
	background-color: #5ea4c4;
	color: white;
	border: 0;
	background-image: url('../img/buttonbackground.png');
}

#services_strip_title {
	margin-top: 36px;
	margin-left: -30px;
	height: 52px;
	width: 240px;
	padding-top: 10px;
	background-image: url('../img/services_strip_title.png')
}
#services_strip_title span {
	color: white;
	padding-left: 25px;
}

#content {
	height: 760px;
	width: 710px;
	background-color: #fcfcfa;
	float: left;
}
#content #carrouselhome img {
	width: 710px;
	height: 460px;
}
#content #carrouselhome {
	width: 710px;
	height: 460px;
	overflow: hidden;
	background-color: #5e4d43;
}
#content #carrouseltext {
	width: 600px;
	height: 124px;
	position: absolute;
	background-image: url('../img/home/cadretexte.png');
	background-repeat: repeat-x;
	top: 336px;
	color: white;
	z-index: 4;
}
.ie6 #content #carrouseltext {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/cadretexteIE.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltexttitle {
	padding-left: 50px;
	margin-top: -4px;
	padding-top: 20px;
	background-image: url('../img/home/guillemet.png');
	background-repeat: no-repeat;
	background-position: 17px top;
	height: 40px;
	width: 550px;
}
.ie6 #content #carrouseltext #carrouseltexttitle {
	margin-top: 6px;
	padding-top: 10px;
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/guillemetIE.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltexttitle h2 {
	color: white;
	margin:0;
	padding:0;
	width: 470px;
}
.ie6 #content #carrouseltext #carrouseltexttitle h2 {
	width: 460px;
}
#content #carrouseltext #carrouseltexttitle a#prevhome,
#content #carrouseltext #carrouseltexttitle a#nexthome {
	float: right;
	margin-right: 13px;
	width: 26px;
	height: 25px;
	cursor: pointer;
	display: inline;
}
#content #carrouseltext #carrouseltexttitle a#prevhome {
	background-image: url('../img/home/leftarrow.png');
}
.ie6 #content #carrouseltext #carrouseltexttitle a#prevhome {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/leftarrow.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltexttitle a#nexthome {
	background-image: url('../img/home/rightarrow.png');
}
.ie6 #content #carrouseltext #carrouseltexttitle a#nexthome {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/home/rightarrow.png',sizingMethod='crop');
}
#content #carrouseltext #carrouseltextcontent {
	padding: 0 90px 0 40px;
	height: 68px;
	width: 470px;
	background-image: url('../img/home/guillemetfermante.png');
	background-repeat: no-repeat;
	background-position: 525px 29px;
}
.ie6 #content #carrouseltext #carrouseltextcontent {
	background: none;
}
#content #blocsliens {
	height: 194px;
	margin-bottom: 70px;
}
#content #blocsliens .blocleft {
	height: 194px;
	padding-left: 40px;
	width: 290px;
	float: left;
	display: inline;
}
#content #blocsliens .blocright {
	float: left;
	width: 300px;
	height: 194px;
	padding: 0 40px 0 40px;
	display: inline;
}
#content #blocsliens h3 {
	padding: 34px 0 0 50px;
	margin: 0;
	height: 40px;
	background-repeat: no-repeat;
}
#content #blocsliens p {
	padding: 0;
	margin: 0;
}
#content #blocsliens ul {
	list-style-type: none;
	margin:5px 0 0;
	padding:0;
}
#content #blocsliens ul li {
	margin:0;
	padding: 0 0 0 25px;
	background-image: url('../img/home/list-arrow.png');
	background-repeat: no-repeat;
	background-position: left 4px;
}
#content #blocsliens .blocleft h3 {
	background-position: left 21px;
	background-image: url('../img/home/camera.png');
}
#content #blocsliens .blocright h3 {
	background-position: left 19px;
	background-image: url('../img/home/souris.png');
}
#content #footer {
	text-align: center;
}
#content #footer a {
	cursor: pointer;
}
#ruban {
	height: 64px;
	width: 730px;
	position: absolute;
	background-image: url('../img/ruban.png');
	margin: 657px 0 0 240px;
}
.ie6 #ruban {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hoteltenor/img/ruban.png',sizingMethod='crop');
}
.ie #ruban {
	margin-left: -710px;
}
.ie6 #ruban {
	margin: 0;
	position: relative;
	margin-top: -103px;
	margin-left: 240px;
}
#ruban a#prevruban {
	display: inline;
	width: 25px;
	height: 25px;
	background-image: url('../img/ribbonleft.png');
	cursor: pointer;
	float: left;
	margin: 12px 0 0 30px;
}
#ruban a#nextruban {
	display: inline;
	width: 25px;
	height: 25px;
	background-image: url('../img/ribbonright.png');
	cursor: pointer;
	float: left;
	margin-top: 12px;
	margin-left: 30px;
}
#ruban #scrollableruban {
	float: left;
	margin-top: 11px;
	width: 567px;
	height: 28px;
	background-color: #6b6254;
	display: inline
}
#ruban #scrollableruban .scrollableruban {
	width: 567px;
	height: 28px;
	background-color: #6b6254;
}
#ruban #scrollableruban a img {
	margin-left: 22px;
}
#ruban #scrollableruban a.plus3 img {
	margin-left: 19px;
}
.tooltip {
	width: 133px;
	height: 89px;
	background-image: url('../img/tooltip.png');
	background-repeat: no-repeat;
	padding: 10px;
	text-align: center;
	z-index: 5;
}

#content .tophalf {
	width: 710px;
	height: 380px;
	background-color: #5e4d43;
}
#content .bottomhalf {
	width: 710px;
	height: 304px;
	margin-bottom: 40px;
	background-color: #f5f4f3;
}

#content .tophalf .righttext {
	width: 330px;
	height: 380px;
	float: right;
	color: #c9c5aa;
}
.ie6 #content .tophalf .righttext {
	width:327px;
}
#content .tophalf .righttext h2 {
	color: white;
	text-align: center;
	margin-top: 30px;
	height: 70px;
	background-image: url('../img/chambres/titreseparateur.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}
#content .tophalf .righttext p {
	margin: 0 30px 20px 30px;
}
#content .tophalf .righttext p.last {
	margin-bottom: 0;
}
#content .bottomhalf .tarifs {
	width: 710px;
	height: 100px;
}
#content .bottomhalf .tarifs h3 {
	margin-top: 25px;
	height: 75px;
	margin-left: 20px;
	width: 120px;
	text-align: center;
	background-image: url('../img/chambres/tarifseparateur.png');
	background-position: center 32px;
	background-repeat: no-repeat;
	text-transform: uppercase;
	float: left;
	display: inline;
	margin-bottom: 0;
}
#content .bottomhalf .tarifs ul {
	width: 375px;
	height: 100px;
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
#content .bottomhalf .tarifs ul li {
	height: 25px;
	background-image: url('../img/chambres/pointilles.png');
	background-repeat: repeat-x;
	background-position: left 10px;
}
#content .bottomhalf .tarifs ul li.first {
	margin-top: 25px;
}
#content .bottomhalf .tarifs ul li .tarif {
	float: right;
	padding-right: 30px;
	background-color: #f5f4f3;
	width: 95px;
	text-align: right;
	display: inline;
}
#content .bottomhalf .tarifs ul li .intitule {
	background-color: #f5f4f3;
}
#content .bottomhalf .tarifs img {
	margin: 32px 0 0;
	float: left;
	display: inline;
}
#content .carrouselchambres {
	height: 174px;
	width: 710px;
}
#content .carrouselchambres .prevchambres,
#content .carrouselchambres .nextchambres {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	z-index: 4;
}
#content .carrouselchambres .prevchambres {
	margin: 57px 0 0 16px;
	background-image: url('../img/chambres/carrouselleft.png');
}
#content .carrouselchambres .nextchambres {
	margin: 57px 0 0 660px;
	background-image: url('../img/chambres/carrouselright.png');
}
#content .carrouselchambres #scrollablechambres {
	width: 710px;
	height:174px;
}
#content .carrouselchambres #scrollablechambres .scrollablechambres {
	width: 710px;
	height:174px;
}
#content .carrouselchambres #scrollablechambres .scrollablechambres .imageframe {
	float: left;
	width: 198px;
	height: 130px;
	background-image: url('../img/chambres/imageframe.png');
	padding: 7px 0 0 10px;
	margin-left: 20px;
	display: inline;
}

#content .tophalf #map {
	height: 380px;
	width: 380px;
	float: left;
}
#content .pratique {
	background-color: #f6f5f4;
}
#content .pratique .righttext h2 {
	background-image: url('../img/pratique/titreseparateur.png');
	color: #4b4a4a;
}
#content .pratique .righttext ul {
	margin: 0 0 0 15px;
	padding: 0;
	list-style-type:none;
	width: 300px;
}
#content .pratique .righttext ul li {
	margin: 0;
	padding: 9px 0 0 35px;
	height: 27px;
	background-color: #ecebea;
	background-position: 12px center;
	background-image: url('../img/pratique/darklistarrow.png');
	background-repeat: no-repeat;
}
#content .pratique .righttext ul li.even {
	background-color: #f5f5f4;
	background-image: url('../img/pratique/lightlistarrow.png');
}
#content .pratique .righttext ul li a {
	color: #3a93bb;
}
#content .pratique .righttext ul li a:hover {
	color: #3a93bb;
}
#content .bottomhalf img#contactimage {
	width: 330px;
	float: right;
}
#content .bottomhalf #fichecontact {
	padding: 22px 27px 0;
	width: 326px;
	height: 282px;
	background-color: #655a70;
	color: white;
}
#content .bottomhalf #fichecontact h3 {
	color: white;
	float: left;
	height: 30px;
	margin: 0 0 20px 0;
	padding: 0 0 7px 0;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url('../img/pratique/contactseparateur.png');
	display: inline;
}
#content .bottomhalf p#accroche {
	clear: left;
	margin: 0 0 20px 0;
	line-height: 1.8;
	color: #fff7c0;
}
#content .bottomhalf ul#coordonnees {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content .bottomhalf ul#coordonnees li {
	padding: 0;
	margin: 0 0 5px 0;
	line-height: 1.2em;
}
#footer #mentionslegales {
	display: none;
}
#simplemodal-container {
	border: 5px solid #6d6456;
	background-color: #fcfcfa;
	padding: 20px;
	width: 660px;
	
}
#simplemodal-container a.modalCloseImg {
	background:url(../img/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
.ie6 #simplemodal-container a.modalCloseImg {
	background:none;
	right:-14px;
	width:22px;
	height:26px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/x.png', sizingMethod='scale'
	);
}
#ombrecentrale {
	height: 760px;
	width: 14px;
	position: absolute;
	background-image: url('../img/ombrecentral.png');
	z-index: 1;
}